body { background: #63731; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 58px; display: flex; }
.block-product-0 { color: #aca05f; font-size: 13px; margin-bottom: 5px; }
.block-metrics-1 { color: #bf45d5; font-size: 20px; margin-bottom: 5px; }
.block-payment-2 { color: #e33519; font-size: 18px; margin-bottom: 5px; }
.block-product-3 { color: #bf9987; font-size: 15px; margin-bottom: 5px; }
.block-validator-4 { color: #68beb0; font-size: 15px; margin-bottom: 5px; }